@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Texting Game</h1>
    <p>A type of game game I would be interested in creating would also feature a database of conversation choices, 
        with a GUI interface for a in-game cell phone for "texting and calling" characters.</p>
</div>
